PROJECT_NAME="Analytics Async Pipeline"
DEBUG=False

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=analytics_db

REDIS_HOST=localhost
REDIS_PORT=6379

WORKERS_COUNT=3
MAX_QUEUE_SIZE=5000
RATE_LIMIT_PER_MIN=60

GITHUB_TOKEN=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=